$color-deepGreen: #1a3636;
$color-forrestGreen: #119b1e;
$color-mossGreen: #677d6a;
$color-lightGreen: #d8eadb;
$color-kaki: #d6bd98;
$color-darkGrey: #707070;

$color-plastGummi: #660099;
$color-papir: #017ec0;
$color-natur: #06682d;
$color-glas: #28a745;
$color-pap: #c4a167;
$color-trae: #7f652b;
$color-texstil: #951c3f;
$color-smaatBraendbart: #6666cc;
$color-deponi: #2b2c2e;

$color-error: #ff0000;
$color-succes: #339900;
