@use "./Helpers/Mixinx" as *;
@use "./Helpers/variables" as *;

// import af font fra google
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Universal styling til alle elementer
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	position: relative;
	height: 630px;
	background-color: #ffffff;
	background-image: url(../Assets/Footer-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// sikre at både html, body, input felter osv har den korrekte skrift type
html,
body,
input,
textarea,
button,
select,
p,
a,
li,
ul,
ol {
	font-family: "Open Sans", sans-serif;
}

a,
link {
	color: none;
	text-decoration: inherit; /* no underline */
}

.title {
	@include title;
}

.subtitle2 {
	@include subtitle2;
}
.subtitle3 {
	@include subtitle3;
}
.subtitle4 {
	@include subtitle4;
}

.text {
	@include text;
}

.htmlContent {
	white-space: pre-line;
}
.errorMessage {
	color: $color-error;
	font-size: 1.2rem;
	margin-top: 10px;
}

.errorInput {
	border: 1px solid red;
	background-color: #fdd !important;

	&:focus {
		background-color: #fdd !important;
	}
}
.successMessage {
	width: 40%;
	padding: 13px 23px;
	color: #fff;
	background: linear-gradient(
		90deg,
		$color-forrestGreen,
		$color-forrestGreen 50%,
		transparent 50%
	);
	background-size: 200% 100%;
	font-size: 1.2rem;
	margin: 10px 0;
	animation: backgroundSlide 2s forwards;
}

@keyframes backgroundSlide {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.successMessage2 {
	width: 90%;
	padding: 13px 23px;
	color: #fff;
	background: linear-gradient(
		90deg,
		$color-forrestGreen,
		$color-forrestGreen 50%,
		transparent 50%
	);
	background-size: 200% 100%;
	font-size: 1.2rem;
	margin: 10px 0;
	animation: backgroundSlide 2s forwards;
}

@media (max-width: 768px) {
	.successMessage2 {
		background: none;
		color: $color-forrestGreen;
		padding: 0;
	}
}
//Standard knap styling til dette projekt.
.styledButton {
	height: 39px;
	padding: 7px 57px;
	gap: 10px;
	border-radius: 4px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	background-color: $color-forrestGreen;
	box-shadow: 0px 2px 2px 0px #00000040;
	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		background: $color-deepGreen;
	}
}

.input {
	height: 48px;
	padding: 13px;
	border-radius: 5px;
	border: 1px solid $color-lightGreen;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	// line-height: 21.79px;

	&:active {
		border: 1px solid $color-deepGreen !important;
	}
}

.unstyledButton {
	@include unstyledButton;
}

.iconContainer {
	width: 128px;
	height: 128px;
	top: 20px;
	left: 20px;
	padding: 10px 21px 31.32px 21px;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px 0px #00000040;
	&:hover {
		background-color: $color-lightGreen;
	}
	&:active {
		background-color: $color-mossGreen !important;
	}
}

.pageWrapper {
	height: 100%;
}

.modal {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-lightGreen;
	border-radius: 8px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(42, 40, 40, 0.625);
	z-index: 105;
}

@media (max-width: 767px) {
	.modal {
		width: 80%;
		height: 80%;
	}
}
