@use "./Helpers/Mixinx" as *;
@use "./Helpers/variables" as *;

// import af font fra google
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Universal styling til alle elementer
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	position: relative;
	height: 630px;
	background-color: #ffffff;
	background-image: url(../Assets/Footer-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// sikre at både html, body, input felter osv har den korrekte skrift type
html,
body,
input,
textarea,
button,
select,
p,
a,
li,
ul,
ol {
	font-family: "Open Sans", sans-serif;
}

.title {
	@include title;
}

.subtitle2 {
	@include subtitle2;
}
.subtitle3 {
	@include subtitle3;
}
.subtitle4 {
	@include subtitle4;
}

.text {
	@include text;
}

.errorMessage {
	color: $color-error;
	font-size: 1.2rem;
	margin-top: 10px;
}
.errorInput {
	border: 1px solid red;
	background-color: #fdd !important;

	&:focus {
		background-color: #fdd !important;
	}
}
.successMessage {
	color: $color-succes;
	font-size: 1.2rem;
	margin-top: 10px;
}

//Standard knap styling til dette projekt.
.styledButton {
	height: 39px;
	padding: 7px;
	gap: 10px;
	border-radius: 4px;
	background-color: $color-forrestGreen;
	box-shadow: 0px 2px 2px 0px #00000040;
	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		background: $color-deepGreen;
	}
}

.input {
	height: 48px;
	padding: 13px;
	border-radius: 5px;
	border: 1px solid $color-lightGreen;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	// line-height: 21.79px;

	&:active {
		border: 1px solid $color-deepGreen !important;
	}
}

.unstyledButton {
	@include unstyledButton;
}

.iconContainer {
	width: 128px;
	height: 128px;
	top: 20px;
	left: 20px;
	padding: 10px 21px 31.32px 21px;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px 0px #00000040;
	&:hover {
		background-color: $color-lightGreen;
	}
	&:active {
		background-color: $color-mossGreen !important;
	}
}

.pageWrapper {
	height: 100%;
}

.innerWrapper {
	padding: 0 117px;
	min-height: 1500px;
	background: linear-gradient(180deg, #06682d 0%, #ffffff 100%);

	// width: 80%;
	// left: 50%;
	// margin: 117px 0;
	// display: flex;
	// flex-direction: column;
	background-color: red;
}
/* PC*/
@media (min-width: 992px) {
	.InnerWrapper {
		margin: 0 16px;
	}
}
@media (max-width: 995px) {
	.pageWrapper {
		margin: 0 12px 50px 12px;
	}
}

.contentWrapper {
	background-color: green;
	min-height: 1500px;
}
.modal {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $color-lightGreen;
	border-radius: 8px;
	div {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// h2 {
		// 	@include title;
		// 	text-align: center;
		// }
		// p {
		// 	@include text;
		// }
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(42, 40, 40, 0.625);
	z-index: 105;
}

@media (max-width: 767px) {
	.modal {
		width: 80%;
		height: 80%;
		// div {
		// 	h2 {
		// 		font-size: 28px;
		// 	}
		// }
	}
}

//modal element styling
.ModalForm {
	margin-top: 15px;
	margin-left: 50%;
	transform: translateX(-50%);

	.inputCenter {
		display: block;
		width: 23.125rem;
		height: 3rem;
		border-radius: 5px;
		margin: 16px 0;

		&::placeholder {
			font-family: "Open Sans", sans-serif;
			font-size: 16px;
			font-weight: 300;
			padding-left: 1rem;
		}
	}
}
