@use "../../../Styles//Helpers/variables.scss" as *;
@use "../../../Styles//Helpers/Mixinx" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.NavWrapper {
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: $color-mossGreen;
	height: 57px;
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		ul {
			width: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			li {
				padding: 20px 0;
				height: 57px;
				list-style: none;
				border-left: 1px solid;
				border-color: $color-mossGreen;
			}
			a {
				font-family: "Inter", sans-serif;
				text-transform: uppercase;
				color: black;
				font-size: 16px;
				line-height: 19.36px;
				text-align: center;
				text-decoration: none;
			}
			&:hover {
				background-color: $color-kaki;
			}
			&:nth-child(6) {
				border-right: 1px solid;
				border-color: $color-mossGreen;
			}
		}
	}
}

//mobil navigation
.mobilNavWrapper {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navMobilMenu {
	background-color: #fff;

	width: fit-content;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 100px;
	right: -100%;
	z-index: 1000;
	transition: 850ms;

	ul {
		list-style: none;
		li {
			display: flex;

			a {
				font-size: 12px;
				margin: 2px 0;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				padding: 5px 10px;
				font-family: "Open Sans", sans-serif;
				color: $color-deepGreen;
			}
		}
		a:hover {
			background-color: $color-lightGreen;
			border-radius: 8px;
		}
	}
	&.activeMobil {
		display: block;
		right: 0;
	}
}
