@use "../../../Styles/Helpers/variables" as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 122px;
	.loginButton {
		padding: 6px 12px;
		border-radius: 8px;
		border: transparent;
		background-color: $color-lightGreen;
		font-size: 16px;
		font-family: "Open Sans", sans-serif;

		&:hover {
			background-color: $color-kaki;
		}
		.logInIcon {
			position: relative;
			top: 3px;
			margin: 0 0 0 4px;
			font-family: "Open Sans", sans-serif;
			font-size: 20px;
		}

		.logOutIcon {
		}
	}
}
