@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/Mixinx" as *;

.home {
	margin: 0 122px;
	.innerGradient {
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 588px;
			object-fit: cover;
		}
	}

	.innerGradient::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		background: linear-gradient(180deg, #97979700 26%, #ffffff 100%);
	}

	.artikleWrapper {
		position: relative;
		display: flex;
		justify-content: center;
		top: -250px;
		display: flex;
		gap: 48px;
		.articleBox {
			background-color: #ffffff;
			width: 526.44px;
			height: 375px;
			top: 542px;
			left: 170.04px;
			padding: 36px 36.44px 23px 36px;
			border-radius: 8px;
			box-shadow: 0px 2px 8px 0px #00000040;
		}
	}
}

//midter sektion

.fixedartikleWrapper {
	padding-left: 117px;
	background-color: $color-lightGreen;
	margin-top: -150px;
	.contentWrapper {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 56px;
		img {
			width: auto;
			height: 334px;
		}
		.fixedNewsText {
			margin-top: 36px;
		}
	}
}

//nederste sektion

.fixedartikleButtomWrapper {
	position: relative;
	margin: 96px;
	box-shadow: 0px 10px 20px 0px #00000040;
	.fixedartikleButtomContainer {
		display: flex;

		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 770px;
			object-fit: cover;
		}
		.fixedarticleButtomBox {
			margin: 72px 36px 173px 36px;
			width: 80%;
			.tipsogTricksWrapper {
				position: absolute;
				bottom: 45px;
			}
			h2 {
				color: $color-forrestGreen;
				line-height: 40px;
			}
		}
	}
}

.header,
.secondPartText {
	line-height: 38px;
}
.secondPartText {
	display: block;
	color: $color-forrestGreen;
}
.teaserText {
	margin: 16px 0;
}

.FaArrowAltCircleRightWrapper {
	position: absolute;
	bottom: 25px;
}
.FaArrowAltCircleRight {
	font-size: 64px;
	color: black;
}

//mobil
@media (max-width: 768px) {
	.home {
		margin: 0 16px;

		padding-bottom: 300px;
		.innerGradient {
			img {
				height: 200px;
			}
		}
		.artikleWrapper {
			flex-direction: column;
			top: -50px;

			.articleBox {
				width: 90%;
				height: fit-content;
				margin: auto;
			}
		}
	}
	//midter sektion
	.fixedartikleWrapper {
		display: block;
		width: 100%;

		padding: 0;
		.contentWrapper {
			// display: flex;
			// flex-direction: column;
			grid-template-columns: 1fr;
			margin: 0;
			.fixedNewsText {
				padding: 0 20px;
			}
			img {
				// position: relative;
				width: 100%;
			}
		}

		.fixedarticleBox {
			left: 0;
		}
	}

	//nederste sektion
	.fixedartikleButtomWrapper {
		margin: 12px;

		.fixedartikleButtomContainer {
			flex-direction: column-reverse;
		}
		img {
			height: 600px;
			margin-top: 30px;
		}
		div {
			.fixedarticleButtomBox {
				margin: 0;

				width: 100%;
				h2 {
					text-align: center;
					padding: 30px 20px;
				}
				.tipsogTricksWrapper {
					padding: 10px;
					display: flex;
					bottom: 50px;
					position: inherit;
					background-color: #fff;
					width: 100%;
				}
			}
		}
	}
	.FaArrowAltCircleRightWrapper,
	.fixedartikleWrapper,
	.fixedarticleBox {
		position: inherit;
	}
}
