@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/Mixinx" as *;

.bestil {
	margin: 0 122px;
	padding: 64px 33px;
	background: linear-gradient(180deg, $color-lightGreen 0%, #ffffff 734px);
	h2 {
		margin: 32px 0;
		color: $color-forrestGreen;
	}
	.containerType {
		margin: 32px 0 39px;
	}
	p {
		@include text;
	}
	.iconWrapper {
		display: flex;
		gap: 32px;
		.iconContainer {
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 128px;
			top: 456px;
			left: 171px;
			padding: 10px 21px 31.32px 21px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0px 2px 8px 0px #00000040;
			transition: background-color 0.5s ease transform 0.5s ease;
			.imageContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				height: 100%;
				span {
					height: 50%;
				}
			}
			&:hover {
				background-color: $color-lightGreen;
			}
			&.selected {
				background-color: $color-mossGreen;
				transform: scale(1.15); // Gør elementet lidt større når det er valgt
			}
		}
	}
	.deleveryInfo {
		p {
			margin: 32px 0 39px;
		}
		.form {
			display: flex;
			flex-direction: column;
			width: 65%;
			gap: 16px;
		}
	}
}

//mobil
@media (max-width: 768px) {
	.bestil {
		margin: 0 16px;
		.iconWrapper {
			display: flex;
			flex-direction: column;
		}
		.deleveryInfo {
			.form {
				width: 100%;
			}
		}
	}
}
