.footerWrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
	img {
		margin-left: 16px;
	}
	.socialIcons {
		font-size: 48px;
		.icon {
			margin-left: 16px;
		}
	}
}

//mobil
@media (max-width: 768px) {
	.footerWrapper {
		top: 70%;

		flex-direction: column;
		align-items: center;
		gap: 20px;
		.addresse {
			text-align: center;
		}
	}
}
